fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
boto3
pydantic[email]
python-dotenv
pydantic-settings
docling
Pillow
pandas
pyarrow
backoff
langchain
pymilvus
openai
langchain-community
langchain-openai
pymilvus
unstructured
markdown